@import '../common';

.profile-element {
    margin-top: 15px;
    margin-bottom: 5px;

    width: 100%;
}

.profile-element>div {
    padding: 10px;
    margin: 0 6px;

    border-radius: 5px;

    color: $color-fg-1;
}

.profile-menu {
    float: right;
}

.profile-menu>svg {
    margin-left: 4px;

    cursor: pointer;

    @include transition(color 200ms);
}

.profile-menu>svg:hover {
    color: $color-fg;
}
