@import '../common';

.side-bar-element {
    margin: auto;
    margin-bottom: 3px;

    width: 100%;
}

.side-bar-element>div {
    padding: 10px;
    margin: 0 6px;

    border-radius: 5px;

    font-weight: 500;
    color: $color-fg-1;
    cursor: pointer;

    overflow: hidden;
    white-space: nowrap;

    @include transition(color 200ms, background-color 200ms);
}

.side-bar-element>div:hover {
    color: $color-fg;
    background-color: $color-bg-2;
}
