@import '../common';

.chat-container {
    padding: 0 25px 0 25px;

    flex-direction: column;
    flex: 100%;

    overflow-y: auto;
}

.chat-container::-webkit-scrollbar-thumb {
    background-color: $color-bg-1
}

.nick {
    color: $color-fg;
}
