@import '../common';

.server-list {
    height: 100%;
    flex: 100%;
    max-width: 50px;
    float: right;

    background-color: $color-bg-2;

    border-left-style: solid;
    border-width: 2px;
    border-color: $color-2;
}

.server-list>div {
    padding: 15px 4px;

    flex-direction: column;
}
