@import '../common';

.side-bar {
    height: 100%;
    flex: 30%;
    max-width: 250px;
    float: right;

    background-color: $color-bg-1;
}

.side-bar>div {
    max-height: 100%;

    display: flex;
    flex-direction: column;
}

.recent {
    overflow-y: auto;
    overflow-x: hidden;
}
