$color-fg: #FBFFFE;
$color-fg-1: #B7BAB9;

$color-bg: #1B1B1E;
$color-bg-1: #2F2F32;
$color-bg-2: #444446;

$color-1: #96031A;
$color-2: #FAA916;

$font: "Trebuchet MS", Helvetica, sans-serif;

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}
